@import "/src/assets/styles/utils/variables";
@import "/src/assets/styles/base/_null.scss";

.author_container{
    display: flex;
   
    align-items: center;
    margin-left: 0px !important;

}

.reactions_container{    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 24px;
    
}

.reactionsText{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $reactionsText;
    border-right: 1px solid $color-1-transparent;
    padding-right: 8px;
    padding-left: 4.5px;
    
    
}