<div class="container">

    <app-contents-sidebar-menu class="container__top"></app-contents-sidebar-menu>
    
    <app-contents-sidebar-user class="container__top"></app-contents-sidebar-user>
  
    <app-contents-sidebar-top class="container__pages"></app-contents-sidebar-top>

    <app-view class="container__categories"></app-view>

    <app-actions class="container__categories"></app-actions>

    <app-categories class="container__categories"></app-categories>

    <app-filters class="container__categories"></app-filters>
   
  </div>