<p>CATEGORIES</p>
<div>
    <a routerLink="/app/feed" routerLinkActive="active" class="page-item">
      <img class="pages__image" src="/assets/images/svg/sidebar/all.svg"/>
      All articles
    </a>

    <a routerLink="Liked articles" routerLinkActive="active" class="page-item feed">
      <img class="pages__image" src="/assets/images/svg/Liked.svg"/>
      Liked articles
    </a>

    <a routerLink="Favorites" routerLinkActive="active" class="page-item feed">
        <img class="pages__image" src="/assets/images/svg/star.svg"/>
        Favorites
    </a>
</div>
