
<mat-form-field appearance="fill" class="form">

    <mat-label>
      <img class="pages__image" src="/assets/images/svg/sidebar/Bytags.svg"/>By author
    </mat-label>

    <mat-select #matSelect multiple  [formControl]="toppings" panelClass="select-panel">    

      <input class="findTeg" type="text" name="search" [(ngModel)]="searchText" placeholder="Search tags..."  autocomplete="off">

      <div class="line"></div>

      <mat-select-trigger>
        {{toppings.value?.[0] || ''}}
        <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
          (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>

      <div class="scroll">
        <mat-option *ngFor="let topping of toppingList | filter:searchText" [value]="topping">{{topping}}</mat-option>
      </div>

      <div class="line"></div>

      <div class="button_container">
        <a class="button" (click)="matSelect.close()">RESET ALL</a>
        <a class="button" (click)="matSelect.close()">SAVE FILTERS</a>
      </div>

    </mat-select>

  </mat-form-field>
