<div [ngClass]="typeView" *ngFor="let article of articles" appHover> 
                            
    <img src= {{article.imageArticle}}>
                
    <div class="cardcontent">
                
        <div class="tags_container">
            <app-tags [name]='article.tags.tagOne'></app-tags>
            <app-tags [name]='article.tags.tagTwo'></app-tags> 
        </div>
            
        <div>
            <a routerLink="/app/articles/id" routerLinkActive="active">  
                <h2>{{ article.title }}</h2>  
            </a>
          
            <p>{{ article.caption }}</p>
        </div>
                    
        <div>
         <app-article-reaction 
            class="caption_container"
            [imageUser]='article.imageUser'
            [nameUser]='article.nameUser'
            [kudos]='article.kudos'>
         </app-article-reaction>
        </div>
    </div>
</div>