@import "/src/assets/styles/utils/variables";
@import "/src/assets/styles/base/_null.scss";

.feedBlokTitlesView{
    display: flex;
    flex-direction: column;;
    max-width: 476px;
    box-shadow: 0px 2px 8px $color-3-transparent;
    margin-bottom: 20px!important;
    margin-right: 20px;
    
    img{
        display: flex;
        max-height: 200px;
        object-fit: cover;
        max-width: 476px;
    }

    div{margin-left: 10px;}
   
}

.feedBlokDefaultView{
    display: flex;
    flex-direction: column;
    max-width: 476px;
    box-shadow: 0px 2px 8px $color-3-transparent;
    margin-bottom: 20px!important;
    margin-right: 20px;
    
    
    img{
        display: flex;
        max-height: 200px;
        object-fit: cover;
    }

    div{margin-left: 10px;
    margin-right: 10px;}
    app-article-reaction{min-width: 460px;}
}

.feedBlokDefaultView:first-child{
    flex-direction: row;
    max-width: 972px;

    div{width: 325px;}

    img{
        object-fit: fill;
        max-height: 388px;
        max-width: 629px;
    }

    p{margin-bottom: 135px;}

    app-article-reaction{min-width: 335px;}
     
}

.feedBlokDefaultView:last-child{
    flex-direction: column;
    max-width: 972px;
    div{width: 962px;}
    a:last-child{
        margin-right: 640px;
    }
}

.feedBlokListView{
    display: flex;
    box-shadow: 0px 2px 8px $color-3-transparent;
    margin-bottom: 20px!important;
    margin-right: 10px;
    max-width: 972px;

    img{
        display: flex;
        margin-right: 32px;
        width: 320px; 
    }

    ul{ 
        width: 400px;}
    
    app-article-reaction{min-width: 630px;}
        
}

.hoverDirective{
    transform: scale(1.05);
    transition: .5s all;
    z-index: 1000;
}

.tags_container {
    margin-top: 24px;
    display: flex;
}


.buttonLoad:hover {
    background: $color-1;  
}

a:hover {
    background: $color-1;  
    cursor: pointer;
}

h2{
    margin-top: 12px;
    @include font($body-font-family, $font-size-5, $color-6, $font-weight-bold, $line-height-4);
}

p{
    @include font($body-font-family, $font-size-2, $col-light, $font-weight-regular, $line-height-3);
    margin-top: 12px;
    margin-right: 35px;
}

.caption_container{ 
    margin-top: 36px;
    display: flex;
    align-items: center;  
    margin-bottom: 24px;  
    justify-content: space-between;
    margin-left: 0px;
}

.buttonLoad{
    padding: 8px 90px 8px 89px;
    background: $color-1;
    border-radius: 20px;
    text-align: center; 
    margin: auto auto 410px 348px ;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    color: $background-color;
    border-color: $color-1;
}


.loadIMG{
    padding-right: 8px;
}

.cardcontent{
    display: flex;
    flex-direction: column;
}
