@import '/src/assets/styles/utils/variables';

p{@include font($body-font-family, $font-size-2, $color-6, $font-weight-medium, $line-height-6);
 margin-left: 24px;
}

img{
    padding: 11px 11px;
}

img:hover{
    opacity: 73%;
    background-color: $color-1;
    border-radius: 4px;
}

div{margin-left: 13px;}