<p>VIEW</p>
<div>
    <a routerLink="feed" routerLinkActive="active" [queryParams]="{typeView:'default'}" class="page-item">
        <img src="/assets/images/svg/sidebar/view-big-title.svg" alt="view-big-title"/>
    </a>
    <a routerLink="feed" routerLinkActive="active" [queryParams]="{typeView:'list'}" class="page-item">
        <img src="/assets/images/svg/sidebar/View-list.svg" alt="View-list"/>
    </a>
    <a routerLink="feed" routerLinkActive="active" [queryParams]="{typeView:'titles'}" class="page-item">
        <img src="/assets/images/svg/sidebar/View-tile.svg" alt="View-tile"/>
    </a>
</div>
