<div class="container">

    <div class="container_sidebar">
        <app-contents-sidebar-menu class="container__menu"></app-contents-sidebar-menu>
        <app-contents-sidebar-user></app-contents-sidebar-user>
        <app-contents-sidebar-top></app-contents-sidebar-top>
    </div>

  
    <form  class="artile_container" [formGroup]="form" *ngIf="article" (ngSubmit)="submit()">
        <h1>Edit article</h1>
        
        <app-input 
        [groupName]="form"
        controlName="title" 
        [typeInput]='titleType' 
        [label]='labelTitle' 
        [helperText]='helperTitleText'
        class="input-field input-createArticle">
        </app-input>

        <app-input 
        [groupName]="form"
        controlName="annotation" 
        [typeInput]='annotationType' 
        [label]='labelAnnotation' 
        [helperText]='helperAnnotationText'
        class="input-field input-createArticle">
        </app-input>

        <app-editor    
        [groupName]="form"   
        controlName="editor" 
        [typeInput]='editorType' 
        [label]='labeleditor' 
        class="input-field-editor">
        </app-editor>

        <app-image-editor 
        [activeColor]="'orangered'" 
        controlName="IMGeditor" 
        [baseColor]="'lightgray'"
        [label]='labelImageEdit' 
        [inputSVG]='inputSVGImageEdit' 
        [helperText]=' helperImageEditText'
        class="input-field-image-editor"
        [imageSrc]='article.imageArticle'>
        </app-image-editor>
        
  
        <app-select-tags class="input-field-editor tegs-editor" [toppings]="[article.tags.tagOne, article.tags.tagTwo]"></app-select-tags>

        

        <div class="button_container"> 
            <app-button class="button-svg" 
            [buttonSVG]='buttonSVGCancel' 
            [typeButton]='typeButtonCancel' 
            [name]='buttonCancel'
            ></app-button>
            <app-button 
            class="button-svg" 
            [buttonSVG]='buttonSVG' 
            [typeButton]='typeButton' 
            [name]='button'
            ></app-button>
        </div>
       
    </form>
</div>